@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff), url(sansation_light.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
}

/* Psudo elemebtnnt 
:root -  pseudo-class matches the document's root element.*/

:root {
  --bg-color: #b84800;
  --second-bg-color: #ffd63179;
  --text-color: white;
  --main-color: #fcd127;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  margin-bottom: 1rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  text-shadow: 0 0 20xpx var(--main-color), 0 0 100px var(--main-color);
}
.navbar a:hover {
  color: var(--main-color);
  text-shadow: 0 0 20xpx var(--main-color), 0 0 100px var(--main-color);
  transform: scale(1.5);
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color);
}
section {
  padding: 10rem;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}
span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 4rem;
}
.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.home-content p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  max-width: 1000px;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-group a:nth-last-of-type(2) {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-last-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: var(--bg-color);
}
.text-animation {
  font-size: 6rem;
  font-weight: 600;
  min-width: 280px;
}
.text-animation span {
  position: relative;
}

/* Animation related CSS */

.text-animation span::before {
  content: "Application Consultant";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer ";
    color: var(--main-color);
  }
  21%,
  40% {
    content: "Mobile Photographer";
    color: var(--main-color);
  }
  41%,
  60% {
    content: "Full-Stack Developer";
    color: var(--main-color);
  }
  61%,
  80% {
    content: "Web Designer";
    color: var(--main-color);
  }
  81%,
  100% {
    content: "Creatio Developer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* Education Related Css */

.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}

.education {
  padding: 100px 15px;
  background: var(--second-bg-color);
}
.education h2 {
  margin-bottom: 5rem;
}
.timeline-items {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
  opacity: 0.4;
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot img {
  height: 5rem;
  width: 5rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  position: absolute;
  left: calc(50% - 23px);
  border-radius: 50%;
  top: -7px;
  transition: 0.3s ease-in-out;
}
.timeline-dot img:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 50px var(--main-color);
  transform: scale(1.5);
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover {
  transform: scale(1.05);
}
.timeline-content h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--main-color);
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content > p {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb ::before {
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--bg-color) inset;
  border-radius: 10px;
  border-color: #131313;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--bg-color) inset;
  border-radius: 10px;
  border-color: #131313;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 20px var(--bg-color);
}

/* Super Power Related CSS */

.superPowers {
  background-color: var(--bg-color);
}
.superpower-container {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.superpower-container .heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
  margin-bottom: 5rem;
}

.superpower-items {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 4rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.superpower-container img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.superpower-item {
  margin: 0.5rem;
  background: var(--second-bg-color);
  border: 3px solid var(--second-bg-color);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: var(--bg-color);
  font-weight: bolder;
  transition: 0.4s ease-in-out;
}
.superpower-item:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}
.superpower-items h2 {
  font-size: 2.8rem;
  color: var(--text-color);
  font-weight: 700;
}
.rating > #selected-heart {
  transition: none;
  color: var(--bg-color);
  font-size: 2rem;
  border: none;
}
.rating > #heart {
  display: none;
}
.contact {
  background-color: var(--bg-color);
}
.contact .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  border-radius: 20px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  color: var(--main-color);
  margin: 1.5rem;
  resize: none;
}
.contact form .input-box input::placeholder,
.contact form textarea::placeholder {
  color: var(--main-color);
  opacity: 0.5;
  font-weight: 700;
}
.contact form .btn {
  margin-top: 2rem;
}
.footer {
  position: relative;
  bottom: 0%;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3 ease-in-out;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul {
  margin-top: 0%;
  padding: 0%;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0%;
  text-align: center;
}
.footer ul li a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a.active {
  border-bottom: 3px solid var(--main-color);
}
.footer ul :hover {
  color: var(--main-color);
  text-shadow: 0 0 20xpx var(--main-color);
  transform: translateY(-10px) scale(1.5);
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyrights {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}
.blogpost {
  background-color: var(--second-bg-color);
}
.blogpost-box {
  padding: 2%;
  align-items: center;
  justify-content: center;
}
.blogpost .heading {
  margin-bottom: 5rem;
}
.blogpost-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}
.blogpost-item {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  background-color: var(--second-bg-color);
  margin: 2rem 6rem 3rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  background-color: var(--second-bg-color);
  margin: 2rem 6rem 3rem;
  padding: 2rem;
  text-align: center;
}
/* .blogpost-item-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
} */
.blogpost-item:hover {
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 25px var(--main-color),
    0 0 25px var(--main-color), 0 0 25px var(--main-color);
  transition: 0.3s solid var(--main-color);
  transform: scale(1.05);
}

.blogpost-item img {
  margin: 2rem 0rem;
  width: 500px;
  height: 300px;
}
.blogpost-item h2 {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: var(--bg-color);
}
.blogpost-item p {
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--text-color);
}
.blogpost-item a {
  margin: 2rem 0 4rem 0;
}
/* Articles */

.main-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

figure img {
  width: 400px;
  height: 700px;
  margin: 2rem 0rem;
}

.headline {
  align-content: center;
  justify-content: center;
}
.headline h1 {
  font-size: 5rem;
  margin: 1rem;
}
.headline h2 {
  font-size: 3rem;
  margin: 1rem;
}
.headline h2 span {
  font-size: 5rem;
}

.headline h2 span:hover {
  text-shadow: 0 0 25px var(--main-color);
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 8rem 0rem 8rem;
}
.blog-content ::first-letter {
  margin-left: 2rem;
}
.blog-content:nth-child(odd) {
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: var(--second-bg-color);
  padding: 0 8rem 0rem 8rem;
}
.blog-content:nth-child(odd) h2 {
  color: var(--bg-color);
}
article {
  align-content: center;
  justify-content: center;
}
article h2 {
  font-size: 4rem;
  margin: 3rem 3rem 2rem 3rem;
  line-height: 5rem;
  color: var(--main-color);
  font-weight: 800;
}
article p {
  font-size: 2.5rem;
  color: var(--text-color);
  line-height: 3rem;
  font-weight: 400;
  margin: 4rem 0 2rem;
}
.blog-content mark {
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  margin: 2px;
  font-weight: 200;
  color: var(--main-color);
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    padding: 1rem 5rem 3%;
  }

  .superpower-items {
    width: 100%;
    padding: 2rem 5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
  }

  .timeline-items::before {
    left: 17px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 5rem;
  }
  .timeline-dot img {
    left: -4.5px;
  }
  .timeline-items {
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem;
  }
  .timeline-content {
    margin-right: 10%;
  }
  .blogpost-items {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .blogpost-items img {
    margin-bottom: 2rem;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 10rem 3%;
  }
  .main-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1rem;
  }
  figure {
    align-content: center;
    justify-content: center;
  }
  figure img {
    max-width: 300px;
    max-height: 500px;
  }
  .blog-content {
    display: flex;
    text-align: center;
    background-color: var(--bg-color);
    padding: 0 3rem 0rem 4rem;
  }
  .headline {
    align-content: center;
    justify-content: center;
    /* height: inherit; */
    height: fit-content;
  }
  .headline h1 {
    font-size: 3rem;
    margin: 1rem;
  }
  .headline h2 {
    font-size: 2.5rem;
    margin: 1rem;
  }
  .headline h2 span {
    font-size: 3rem;
  }
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    display: grid;
    padding-bottom: 3px;
  }
  .header .logo {
    margin-bottom: 10%;
    left: 5px;
  }
  .home-img img {
    margin-top: 1rem;
    width: 49vw;
  }
  .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1;
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
  }
  .home-content {
    align-items: center;
    justify-content: center;
  }
  .header {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .superpower-items {
    width: 100%;
    padding-bottom: 2rem 2rem;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
  }
  .timeline-items::before {
    left: 17px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 40px;
  }
  .timeline-dot img {
    left: -4.5px;
  }
  .timeline-items {
    display: flex;
    flex-direction: column;
  }
  .timeline-content {
    margin-right: 20%;
  }
  .blogpost-items {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .blogpost-items img {
    margin-bottom: 2rem;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }
  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 10rem 3%;
  }
  .main-intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    padding: 1rem;
  }
  figure {
    margin-top: 1rem;
    margin-bottom: 0;
    /* max-width: 200px; */
  }
  figure img {
    max-width: 200px;
    max-height: 400px;
  }

  .headline {
    align-content: center;
    justify-content: center;
  }
  .headline h1 {
    font-size: 3rem;
  }
  .headline h2 {
    font-size: 2.5rem;
    margin: 1rem;
  }
  .headline h2 span {
    font-size: 3rem;
  }

  .blog-content ::first-letter {
    margin-left: 2rem;
  }
  .blog-content:nth-child(odd) {
    flex-wrap: wrap;
  }
  .blog-content:nth-child(even) {
    display: flex;
    flex-wrap: wrap;
  }
  .blog-content:nth-child(odd) h2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
  .blog-content:nth-child(even) h2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
  article {
    align-content: center;
    justify-content: center;
  }
  article h2 {
    font-size: 2rem;
    margin: 3rem 3rem 2rem 3rem;
    line-height: 3.5rem;
    color: var(--main-color);
    font-weight: 800;
  }
  article p {
    font-size: 2rem;
    color: var(--text-color);
    line-height: 2.5rem;
    font-weight: 400;
    margin: 4rem 0 2rem 3rem;
  }
  .blog-content mark {
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    margin: 2px;
    font-weight: 200;
    color: var(--main-color);
    background-color: transparent;
  }
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .timeline-items::before {
    left: 17px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 5rem;
  }
  .timeline-dot img {
    left: -4.5px;
  }
  .timeline-items {
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem;
  }
  .timeline-content {
    margin-right: 10%;
  }
}
