* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
}
:root {
  --bg-color: #b84800;
  --second-bg-color: #ffd63179;
  --text-color: white;
  --main-color: #fcd127;
}
html {
  font-size: 80%;
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  height: 80%;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--bg-color) inset;
  border-radius: 20%;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 10px var(--main-color);
}
.header {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.3);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100vw;
  padding: 2%;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
span {
  color: var(--main-color);
}
.navbar {
  display: flex;
  margin: 0 6%;
  padding: 0, 2%;
}
.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0 0 5% 4%;
  padding: 0 10px;
  font-weight: 700;
  transition: 0.3 ease-in-out;
}
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  text-shadow: 0 0 3rem var(--main-color);
}

.navbar a:hover {
  color: var(--main-color);
  text-shadow: 0 0 3rem var(--main-color);
  transform: scale(1.05);
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 3rem var(--main-color);
}

section {
  margin: 2%;
  padding: 3%;
}
.home {
  display: flex;
  align-items: center;
  gap: 5%;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 5%;
  width: 100%;
}
.home-content h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 6rem;
}
.home-content h3 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 900;
  margin: 1rem 0 2rem 0;
}
.home-img {
  border-radius: 50%;
  width: 100%;
}

.home-img img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  top: 5%;
  width: 40rem;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.9s ease-in-out;
  background: linear-gradient(
    to bottom,
    var(--bg-color),
    var(--second-bg-color)
  );
}
.home-img :hover {
  transform: scale(1.05);
  border: none;
  box-shadow: 0 0 75px var(--main-color);
}
.home-content p {
  margin-top: 2%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  background: transparent;
  font-size: 3rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 2rem 1rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.05) translateY(-1rem);
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: 2px solid transparent;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: var(--bg-color);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}
.btn-group :nth-last-of-type(2) {
  background-color: var(--bg-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--bg-color);
}
.btn-group :nth-last-of-type(2):hover {
  box-shadow: var(--main-color);
  background-color: var(--main-color);
  color: var(--bg-color);
}
.text-animation {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  animation: words 5s infinite;
  content: "Application Consultant";
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Mobile Photographer";
  }
  41%,
  60% {
    content: "Full-Stack Developer";
  }
  61%,
  80% {
    content: "Creatio Developer";
  }
}
.education {
  background-color: var(--second-bg-color);
  margin: 0%;
  padding: 5%;
  align-items: center;
  justify-items: center;
}
.heading {
  font-size: 6rem;
  text-align: center;
  margin: 5% 0;
}
.education h2 {
  margin-bottom: 2%;
}
.timeline-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 80%;
  margin: 2%;
}
.timeline-items::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 8px;
  height: 100%;
  left: calc(50%);
  opacity: 0.7;
}

.timeline-item {
  position: relative;
  margin-top: 5%;
  width: 100%;
}
.timeline-item:last-child {
  margin-bottom: 5%;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
  text-align: left;
}
.timeline-dot img {
  position: absolute;
  left: calc(50% - 23px);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: -10%;
  transition: 0.4s ease-in-out;
}
.timeline-dot img:hover {
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.3);
}
.timeline-date {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 1% 2%;
}
.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 5%;
  border-radius: 2rem;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.timeline-content:hover {
  transform: scale(1.05);
}
.timeline-content > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
  margin: 0 0 2%;
}
.timeline-content > P {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.superpower-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0 10%;
  justify-content: center;
  align-items: center;
}
.superpower-container img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  padding: 10%;
}
.superpower-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2%;
  background-color: var(--second-bg-color);
  border: 3px solid var(--main-color);
  color: var(--bg-color);
  transition: 0.4s ease-in-out;
  border-radius: 2rem;
  padding: 1% 2%;
  cursor: pointer;
}
.superpower-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.superpower-item h2 {
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 2%;
}
.rating > #selected-Star {
  color: var(--bg-color);
  font-size: 2rem;
}

.rating > #Star {
  display: none;
}

.blogpost {
  background-color: var(--second-bg-color);
  margin: 0%;
}

.blogpost-items {
  display: flex;
  gap: 10%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.blogpost-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  background-color: var(--second-bg-color);
  padding: 2% 1%;
  width: 50%;
}
.blogpost-item:hover {
  box-shadow: 0 0 25px var(--main-color);
}
.blogpost img {
  width: 80%;
  height: 25rem;
  border-radius: 2rem;
}
.blogpost-item h2 {
  margin: 2% 0;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--bg-color);
}
.blogpost-item p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.contact form .input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 5%;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  color: var(--main-color);
  margin: 1rem;
  resize: none;
}
.contact form textarea {
  width: 90%;
}
.contact form .input-box input::placeholder,
.contact form textarea::placeholder {
  color: var(--main-color);
  opacity: 0.5;
  font-weight: 700;
}
.contact form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  bottom: 0%;
  width: 100vw;
  padding: 2% 0;
  background: rgba(0, 0, 0, 0.3);
}
.footer .social-icons {
  text-align: center;
  padding-bottom: 0%;
  color: var(--main-color);
}
.footer .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  background: transparent;
  font-size: 3rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 2rem 1rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.footer .social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.05) translateY(-1rem);
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin: 0%;
  padding: 0%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.footer ul li a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li {
  display: inline-block;
  padding: 0 2%;
}
.footer ul li a.active {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
  text-shadow: 0 0 25px var(--main-color);
}
.footer ul :hover {
  color: var(--main-color);
  text-shadow: 0 0 25px var(--main-color);
  transform: translateY(-10px) scale(1.05);
}
.footer .copyrights {
  margin-top: 3%;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
}

.main-intro {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2%;
  width: 100vw;
}
.headline {
  width: 50%;
}
figure {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.main-intro img,
.blog-content img {
  width: 50%;
  border-radius: 2rem;
}
.headline h1 {
  font-size: 3rem;
  line-height: 4rem;
}
.headline h2 {
  font-size: 2rem;
  line-height: 3rem;
}
.blog-content {
  display: flex;
}
.blog-content:nth-child(odd) {
  flex-direction: row-reverse;
  background-color: var(--second-bg-color);
  margin: 0;
}

article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 0 2%;
}
article h2 {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--main-color);
  padding: 2% 0;
  font-weight: 700;
}

article p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-color);
  font-weight: 600;
  text-align: justify;
}
.blog-content mark {
  background-color: transparent;
  color: var(--main-color);
  font-weight: 800;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
    width: 100vw;
    overflow-x: hidden;
  }
  .blogpost-items {
    display: flex;
    flex-wrap: wrap;
  }
  .timeline-items::before {
    width: 0.5%;
  }
  .blogpost-item {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 1%;
    width: 50%;
    margin-bottom: 3%;
  }

  .blogpost img {
    width: 90%;
    height: 30rem;
    border-radius: 2rem;
  }
  .timeline-dot img {
    left: calc(50% - 15px);
  }

  @media screen and (max-width: 780px) {
    html {
      font-size: 30%;
      width: 100vw;
      overflow-x: hidden;
    }
    .header {
      width: 100vw;
      align-items: center;
      align-content: center;
      justify-content: space-between;
    }
    .navbar {
      display: flex;
      flex-direction: row;
      padding-right: 5px;
    }
    .navbar a.active {
      border-bottom: 1px solid var(--main-color);
    }
    .footer ul li a.active {
      border-bottom: 1px solid var(--main-color);
    }
    .timeline-items::before {
      left: 2%;
      width: 1%;
    }
    .timeline-item:nth-child(odd) {
      padding-right: 0;
      text-align: left;
    }
    .timeline-item:nth-child(even) {
      padding-left: 0;
      text-align: left;
    }
    .timeline-dot img {
      left: 0;
    }
    .timeline-content {
      margin-right: 0%;
      margin-left: 10%;
    }
    .timeline-date {
      margin-left: 10%;
      margin-bottom: 5%;
    }
  }
}
